meta(charset="utf-8")
meta(name="description" content="")
meta(name="author" content="")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css")

link(rel = "stylesheet" type = "text/css" media = "screen" href = "/css/smartadmin-production-plugins.min.css")
link(rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.min.css")
link(rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css")
link(rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css")
link(rel="stylesheet" type="text/css" href="/css/fontawesome-iconpicker.min.css")
link(rel="stylesheet" type="text/css" media="screen" href="/css/datatable.css")

//- Select2 css
link(rel='stylesheet' href='/vendor/select2/css/select2.min.css')
link(rel='stylesheet' type='text/css' href='/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css')
link(rel='stylesheet' type='text/css' href='/vendor/multiselect/css/multi-select.css')

link(rel="stylesheet" type="text/css" media="screen" href="/css/custom.css")

link(rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png")
link(rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png")
link(rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png")
link(rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png")
link(rel="shortcut icon", type="image/x-icon", media="screen", href="/img/favicon.png")
link(rel="icon", type="image/x-icon", media="screen", href="/img/favicon.png")

//- Startup image for web apps 
link(rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)")
link(rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)")
link(rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)")

style.
	.select2-selection__rendered {
		line-height: 30px !important;
	}

	.select2-container .select2-selection--single {
		height: 34px !important;
	}

	.select2-selection__arrow {
		height: 34px !important;
	}
block add_css