script(src = "/js/libs/jquery-2.1.1.min.js")
script(src = "/js/libs/jquery-ui-1.10.3.min.js")
script(src = "/js/app.config.js")
script(src = "/js/bootstrap/bootstrap.min.js")

script(src = '/js/jquery.form.min.js')
//- // script(src = '/js/selectize.js')
//- // script(src="/js/jquery.iframe-transport.js")
//- // script(src="/js/jquery.fileupload.js")

//- Select2 js
script(type='text/javascript' src='/vendor/select2/js/select2.full.min.js')
script(type='text/javascript' src='/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js')

//- MAIN APP JS FILE
script(src="/vendor/moment/moment.min.js")
script(src = "/js/notification/SmartNotification.min.js")
script(src = "/js/smartwidgets/jarvis.widget.min.js")
script(src = "/js/app.min.js")
script(src="/js/fontawesome-iconpicker.min.js")

<!-- Data Tables -->
script(src="/bower_components/datatables.net/js/jquery.dataTables.min.js")
script(src='/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js')
script(src='/bower_components/datatables.net-buttons/js/buttons.print.min.js')
script(src='/bower_components/datatables.net-buttons/js/buttons.html5.min.js')
script(src="/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js")
script(src="/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js")
script(src="/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js")

script(src="/js/underscore-min.js")
script(src = '/js/custom.js')
script(src='/js/typeahead.min.js')
script(src="/js/simple.money.format.js")

block add_script