div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
    header(role = 'heading')
        div.jarviswidget-ctrls
            a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditable');")#btnCloseForm
                i.fa.fa-times
        span.widget-icon
            i.fa.fa-pencil
        h2 Tambah / Edit Pelanggan
    div
        div.jarviswidget-editbox
        div(class='widget-body no-padding')
            form.form-horizontal
                div.form-group
                    input#fId(type="hidden", name="_id" value = type=="edit"?customer._id:"").form-control
                div.form-group
                    label(for = "namaCustomer").control-label.col-lg-3 Nama
                    div.col-lg-7
                        input.form-control#namaCustomer(type="text" value = type=="edit"? customer.nama : "")
                div.form-group
                    label(for = "emailCustomer").control-label.col-lg-3 Email
                    div.col-lg-7
                        input.form-control#emailCustomer(value = type=="edit"? customer.email : "")
                div.form-group
                    label(for = "telpCustomer").control-label.col-lg-3 Telp
                    div.col-lg-7
                        input.form-control#telpCustomer(value = type=="edit"? customer.telp : "")
                div.form-group
                    label(for = "telpCustomer").control-label.col-lg-3 Nama Perusahaan
                    div.col-lg-7
                        input.form-control#companyName(value = type=="edit"? customer.company_name : "")
                div.form-group
                    label(for = "alamatCustomer").control-label.col-lg-3 Alamat
                    div.col-lg-7
                        textarea.form-control#alamatCustomer(rows = "4" cols = "4")=type=='edit'? customer.alamat : ''
                div.form-group
                    label.control-label.col-lg-3 Tagihan
                    .col-lg-7 
                        input.form-control#tagCustomer(value = type=="edit"? customer.tagihan : "")
                div.form-group
                    label.control-label.col-lg-3 Tanggal Pasang
                    .col-lg-7 
                        input.datepicker.form-control#tglPasang(data-dateformat = "yy-mm-dd" value = type=="edit"? customer.tgl_pasang : "")
                div.form-group
                    label.control-label.col-lg-3 Tanggal Bayar
                    .col-lg-7 
                        input.datepicker.form-control#tglBayar(data-dateformat = "yy-mm-dd" value = type=="edit"? customer.tgl_bayar : "")
                div.form-group
                    label.control-label.col-lg-3 Status
                    div.col-lg-7
                        select.form-control#statusCustomer
                            option(value="0" selected= type ==='add' ? false : customer.active===true ? true : false) Aktif
                            option(value="1" selected= type ==='add' ? false : customer.active===false ? true : false) Tidak Aktif
                div.form-group
                    div.col-lg-7.col-lg-offset-3
                        button#submitCustomer(type="submit" class="btn btn-sm btn-primary")
                            i.icon-save
                            span  Simpan
                        button#batal(type="button" onclick="return closeForm('#formEditable');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
                            span Batal

script.
    pageSetUp();

    function fnumber(number){
        return new Intl.NumberFormat('id-ID').format(number)
    }

    function formatRupiah(angka){
        var number_string = angka.replace(/[^,\d]/g, '').toString(),
        split   		= number_string.split(','),
        sisa     		= split[0].length % 3,
        rupiah     		= split[0].substr(0, sisa),
        ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);

        // tambahkan titik jika yang di input sudah menjadi angka ribuan
        if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
        }

        rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
        return rupiah
    }

    $(function () {
        $('#namaCustomer').focus();

        //- $("input#tagCustomer").keyup(function(e){
        //-     let value = e.target.value
        //-     console.log({value})
        //-     $('#submitCustomer').attr('data-nominal', value)
        //-     const rp = formatRupiah(value)
        //-     $('#tagCustomer').val(rp)
        //-     //- $('.money').simpleMoneyFormat();
        //- })

        $('.datepicker').datepicker({
            defaultDate : new Date(),
            dateFormat : 'yy-mm-dd'
        });

        $("#formEditable form").submit(function() {
            let selector = $('#submitCustomer');
            selector.attr('disabled', true);
            var nama = $('#namaCustomer').val();
            var email = $('#emailCustomer').val();
            let telp = $('#telpCustomer').val();
            let companyName = $('#companyName').val();
            var alamat = $('#alamatCustomer').val();
            var status = $('#statusCustomer').val();
            var tagihan = $('#tagCustomer').val()
            var tglBayar = $('#tglBayar').val();
            var tglPasang = $('#tglPasang').val()

            if (nama == "" || telp == "" || alamat == "") {
                selector.attr('disabled', false);
                $.smallBox({
                    title: 'Peringantan',
                    content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
                    color : "#C46A69",
                    iconSmall : "fa fa-times fa-1x fadeInRight animated",
                    timeout : 1000
                });
            } else {
                let dataToSend = {
                    id : $("#fId").val(),
                    nama : nama,
                    email : email,
                    telp : telp,
                    alamat : alamat,
                    company_name : companyName,
                    status : status,
                    tagihan : tagihan,
                    tgl_pasang : tglPasang,
                    tgl_bayar : tglBayar
                }

                saveData(dataToSend, $('#formEditable').attr('data-action'), selector);
            }

            return false;
        });
    })

    function saveData(data, action, selector) {
        $.ajax({
            url : action == 'edit' ? '/customer/update' : '/customer/save',
            method: 'POST',
            header: {
                'Content-Type' : 'application/json'
            },
            data : data,
            beforeSend: function() {
                console.log('Loading...')
            },
            success: function(msg) {
                selector.attr('disabled', false);
                refreshData();
                if (msg.status == 200) {
                    $.smallBox({
                        title: 'Success',
                        content : "<i class='fa fa-clock-o'></i> <i>Successfull</i>",
                        color : "#659265",
                        iconSmall : "fa fa-check fa-1x fadeInRight animated",
                        timeout : 1000
                    });
                    $("#btnCloseForm").trigger("click");
                } else {
                    $.smallBox({
                        title : "Peringatan",
                        content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
                        color : "#C46A69",
                        iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                        timeout : 1000
                    });
                }
            },
            error : function (xhr, ajaxOptions, thrownError) {
                selector.attr('disabled', false);
                refreshData();
                $.smallBox({
                    title : "Peringatan",
                    content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
                    color : "#C46A69",
                    iconSmall : "fa fa-times  fa-1x fadeInRight animated",
                    timeout : 1000
                });
            },
        });
    }