style.
    * {
        font-family: sans-serif;
    }
    th, td {
        padding-top: 10px;
    }
    
    .text {
        font-size : 9px;
    }

    .text-box {
        font-size : 13px;
    }

    .text-bold {
        font-weight : 'bold';
        font-size : 12px;
    }
    
.modal-content
    div(class="modal-header" style="background-color: rgb(236, 240, 241);")
        .pull-left
            button(onclick="printPriview();" style="margin-right: 10px;" class="btn btn-primary" type="button") PRINT PREVIEW
            button(style="margin-right: 10px;" class="btn btn-danger" type="button" onclick="closeModal()") TUTUP
        .pull-right 
            button#btnPrev(onClick="return onPrev();" style="margin-right: 10px;" class="btn btn-primary" type="button" disabled data-page = "1") <
            button#bntNext(onClick="return onNext();" style="margin-right: 10px;" class="btn btn-primary" type="button" disabled data-page = "1") >
    .modal-body(style = 'height:550px; overflow:scroll;')
        div#contentView

script(src="/js/preview.js")