div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
	header(role = 'heading')
		div.jarviswidget-ctrls
			a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditable');")#btnCloseForm
				i.fa.fa-times
		span.widget-icon
			i.fa.fa-pencil
		h2 Tambah / Edit Barang Pecahan
	div
		div.jarviswidget-editbox
		div(class='widget-body no-padding')
			form.form-horizontal#formBarangPecahan
				div.form-group
					input#fId(type="hidden", name="_id" value = type=="edit"?barangPecah._id:"").form-control
				div.form-group
					label.control-label.col-lg-4 Nama Barang
					div.col-lg-7
						select.form-control#namaBarang
							option(value = "") Pilih Barang
							each b in barangs
								option(value = b._id selected= type==='add'?false:b._id==barangPecah.barang.toString() ? true : false)  #{b.nama}
				div.form-group
					label.control-label.col-lg-4 Tebal
					div.col-lg-7
						input.form-control#tebalBarang(type="number" value = type=="edit"? barangPecah.tebal.toString() : "")
						small 
							div Format input harus berupa angka / numeric
							div Ex: 1.2
				div.form-group
					label.control-label.col-lg-4 Jumlah
					div.col-lg-7
						input.form-control#stockBarang(type="number" value = type=="edit"? barangPecah.stock : "")
				div.form-group
					label.control-label.col-lg-4 Dimensi Lebar
					div.col-lg-7
						input.form-control#lebarBarang(type="number" value = type=="edit"? barangPecah.lebar.toString() : "")
				div.form-group
					label.control-label.col-lg-4 Dimensi Panjang
					div.col-lg-7
						input.form-control#panjangBarang(type="number" value = type=="edit"? barangPecah.panjang.toString() : "")
				div.form-group
					label.control-label.col-lg-4(for = 'categoryBarang') Kategori
					div.col-lg-7
						select.form-control#categoryBarang
							option(value = "") Pilih Kagetori
							each c in categories
								option(value = c._id selected= type==='add'?false:c._id==barangPecah.category.toString() ? true : false)  #{c.nama}
				div.form-group
					div.col-lg-7.col-lg-offset-4
						button#submitBarangPecah(type="submit" class="btn btn-sm btn-primary")
							i.icon-save
							span  Simpan
						button#batal(type="button" onclick="return closeForm('#formEditable');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
							span Batal

script.
	pageSetUp();
	
	$(function (){
		$('#namaBarang').focus();

		$("#formEditable form#formBarangPecahan").submit(function() {
			let selector = $('#submitBarangPecah');
			selector.attr('disabled', true);
			var idBarang = $('#namaBarang').val();
			var tebalBarang = $('#tebalBarang').val();
			var jumlahBarang = $('#stockBarang').val();
			var lebarBarang = $('#lebarBarang').val();
			var panjangBarang = $('#panjangBarang').val();
			var categoryBarang = $('#categoryBarang').val();

			if (jumlahBarang == "" || idBarang == "" || categoryBarang == "" || lebarBarang == "" || panjangBarang == "" || tebalBarang == "") {
				selector.attr('disabled', false);
				$.smallBox({
					title: 'Peringantan',
					content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 1000
				});
			} else {
				let dataToSend = {
					id : $("#fId").val(),
					id_barang : idBarang,
					id_category : categoryBarang,
					tebal : tebalBarang,
					stock : jumlahBarang,
					lebar : lebarBarang,
					panjang : panjangBarang, 
				}

				saveData(dataToSend, $('#formEditable').attr('data-action'), selector);
			}

			return false;
		});
	});

	function saveData(data, action, selector) {
		$.ajax({
			url : action == 'edit' ? '/persediaan/barang-pecahan/update' : '/persediaan/barang-pecahan/save',
			method: 'POST',
			header: {
				'Content-Type' : 'application/json'
			},
			data : data,
			beforeSend: function() {
				console.log('Loading...')
			},
			success: function(msg) {
				selector.attr('disabled', false);
				refreshData();
				if (msg.status == 200) {
					$.smallBox({
						title: 'Success',
						content : "<i class='fa fa-clock-o'></i> <i>Barang Process Successfull</i>",
						color : "#659265",
						iconSmall : "fa fa-check fa-1x fadeInRight animated",
						timeout : 1000
					});
					$("#btnCloseForm").trigger("click");
				} else {
					$.smallBox({
						title : "Peringatan",
						content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
						color : "#C46A69",
						iconSmall : "fa fa-times  fa-1x fadeInRight animated",
						timeout : 1000
					});
				}
			},
			error : function (xhr, ajaxOptions, thrownError) {
				selector.attr('disabled', false);
				refreshData();
				$.smallBox({
					title : "Peringatan",
					content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
					color : "#C46A69",
					iconSmall : "fa fa-times  fa-1x fadeInRight animated",
					timeout : 1000
				});
			},
		});
	}