div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
	header(role = 'heading')
		div.jarviswidget-ctrls
			a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditable');")#btnCloseForm
				i.fa.fa-times
		span.widget-icon
			i.fa.fa-pencil
		h2 Tambah / Edit User
	div
		div.jarviswidget-editbox
		div(class='widget-body no-padding')
			form.form-horizontal
				div.form-group
					input#fId(type="hidden", name="_id" value = type=="edit"?user._id:"").form-control
				div.form-group
					label(for = "inputName").control-label.col-lg-3 Nama
					div.col-lg-7
						input.form-control#namaUser(type="text" value = type=="edit"? user.nama : "")
				div.form-group
					label(for = "inputUsername").control-label.col-lg-3 Username
					div.col-lg-7
						input.form-control#username(type="text" value = type=="edit"? user.username : "" readonly = type=="edit"? true : false)
				div.form-group
					label(for = "inputPassword").control-label.col-lg-3 Password
					div.col-lg-7
						input.form-control#password(type="password" value = type=="edit"? "****" : "" readonly = type=="edit"? true : false)
				div.form-group
					label.control-label.col-lg-3 Admin
					div.col-lg-7
						select.form-control#isAdminUser
							option(value="true" selected= type ==='add' ? false : user.isAdmin===true ? true : false) Ya
							option(value="false" selected= type ==='add' ? false : user.isAdmin===false ? true : false) Tidak
				div.form-group
					label.control-label.col-lg-3 Status
					div.col-lg-7
						select.form-control#statusUser
							option(value="true" selected= type ==='add' ? false : user.active===true ? true : false) Aktif
							option(value="false" selected= type ==='add' ? false : user.active===false ? true : false) Tidak Aktif

				div.form-group
					div.col-lg-7.col-lg-offset-3
						button#submit(type="submit" class="btn btn-sm btn-primary")
							i.icon-save
							span  Simpan
						button#batal(type="button" onclick="return closeForm('#formEditable');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
							span Batal

script.
	pageSetUp();

	$(function (){
		$("#namaUser").focus();

		$("#formEditable form").submit(function() {
			let selector = $('#submit');
			selector.attr('disabled', true);
			var namaUser = $('#namaUser').val();
			var username = $('#username').val();
			let password = $('#password').val();
			var statusUser = $('#statusUser').val();
			var isAdminUser = $('#isAdminUser').val()
			var role_group = $('#roleGroup').val();

			if (namaUser == "" || username == "" || role_group == "") {
				selector.attr('disabled', false);
				$.smallBox({
					title: 'Peringantan',
					content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 1000
				});
			} else {
				let dataToSend = {
					id : $("#fId").val(),
					nama : namaUser,
					username : username,
					password : password,
					role_group : role_group,
					status : statusUser,
					isAdmin : isAdminUser,
				}

				saveData(dataToSend, $('#formEditable').attr('data-action'), selector);
			}

			return false;
		});
	});

	function saveData(data, action, selector) {
		$.ajax({
			url : action == 'edit' ? '/users/update' : '/users/save',
			method: 'POST',
			header: {
				'Content-Type' : 'application/json'
			},
			data : data,
			beforeSend: function() {
				console.log('Loading...');
			},
			success: function(msg) {
				selector.attr('disabled', false);
				refreshData();
				if (msg.status == 200) {
					$.smallBox({
						title: 'Success',
						content : "<i class='fa fa-clock-o'></i> <i>User Process Successfull</i>",
						color : "#659265",
						iconSmall : "fa fa-check fa-1x fadeInRight animated",
						timeout : 1000
					});
					$("#btnCloseForm").trigger("click");
				} else {
					$.smallBox({
						title : "Peringatan",
						content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
						color : "#C46A69",
						iconSmall : "fa fa-times  fa-1x fadeInRight animated",
						timeout : 1000
					});
				}
			},
			error : function (xhr, ajaxOptions, thrownError) {
				selector.attr('disabled', false);
				refreshData();
				$.smallBox({
					title : "Peringatan",
					content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
					color : "#C46A69",
					iconSmall : "fa fa-times  fa-1x fadeInRight animated",
					timeout : 1000
				});
			},
		});
	}