div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
	header(role = 'heading')
		div.jarviswidget-ctrls
			a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditable');")#btnCloseForm
				i.fa.fa-times
		span.widget-icon
			i.fa.fa-pencil
		h2 Form Produksi Permintaan
	div
		div.jarviswidget-editbox
		div(class='widget-body no-padding')
			form.form-horizontal#formProduksi
				div.form-group
					input#fId(type="hidden", name="_id" value = id).form-control
				div.form-group
					label(for = "noOrder").control-label.col-lg-4 No. Order
					div.col-lg-7
						input.form-control#noOrder(type="text" readonly disabled value = no_order)
				div.form-group
					label(for = "tglOrder").control-label.col-lg-4 Tgl Order
					div.col-lg-7
						input.form-control#tglOrder(type="text" readonly disabled value = tgl_order)
				div.form-group
					label(for = "tglPerngerjaan").control-label.col-lg-4 Tgl Pengerjaan
					div.col-lg-7
						input.form-control.datepicker#tglPerngerjaan(value = tgl_pengerjaan data-dateformat = "yy-mm-dd" placeholder = 'Tanggal Pengerjaan')
				if (status == 2 )
					div.form-group
						label(for = "tglJadi").control-label.col-lg-4 Tgl Jadi
						div.col-lg-7
							input.form-control.datepicker#tglJadi(value = tgl_jadi data-dateformat = "yy-mm-dd" placeholder = 'Tanggal Jadi')
				//- div.form-group
					label.control-label.col-lg-4 Status
					div.col-lg-7
						select.form-control#statusProduksi
							option Pilih Status
							each s in arr_status
								option(value = s.id selected= s.id==status ? true : false)  #{s.label}
				div.form-group
					div.col-lg-4
						button#batal(type="button" onclick="return closeForm('#formEditable');" style="margin-left : 10px;" class="btn btn-outline-danger btn-sm")
							span TUTUP
					div.col-lg-7
						button#submitBtn(type="button" class="btn btn-sm btn-primary" data-status = status)
							i.icon-save
								span  SUBMIT
						button#submitCetak(type="button" class="btn btn-sm btn-danger" style="margin-left : 10px;" data-id = id)
							i.icon-save
							span  CETAK
				


script.
	pageSetUp();
	var type_trx = '#{type_trx}';

	$(function (){
		$('.datepicker').datepicker({
			defaultDate : new Date(),
			dateFormat : 'yy-mm-dd'
		});

		$('#submitCetak').click(function(e) {
			e.preventDefault();
			$(this).attr('disabled', true);
			var id = $(this).attr('data-id');
			cetakStruk(id);
			setTimeout(function (){
				$(this).attr('disabled', false);
			}, 1000);
		});

		$('#submitBtn').click(function (e){
			e.preventDefault();
			var selector = $(this);
			var idProduksi = $('#fId').val();
			var tgl_order = $('#tglOrder').val();
			var tgl_jadi = $('#tglJadi').val();
			var tgl_pengerjaan = $('#tglPerngerjaan').val();
			var statusProduksi = selector.attr('data-status');
			selector.attr('disabled', true);

			if (tgl_pengerjaan == '') {
				selector.attr('disabled', false);
				$.smallBox({
					title: 'Peringantan',
					content : "<i class='fa fa-clock-o'></i> <i>Maaf, Data Masih Belum Lengkap</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 1000
				});
			} else {
				var dataToSend = {
					id : idProduksi,
					tgl_order : tgl_order,
					tgl_pengerjaan : tgl_pengerjaan,
					status : statusProduksi,
					type : type_trx,
					tgl_jadi : '',
				}
				if (Number(statusProduksi) == 2) {
					dataToSend['tgl_jadi'] = tgl_jadi;
				}

				console.log('[DATA SEND] ', dataToSend);
				$.ajax({
					url : '/transaksi/produksi/proses-order',
					method: 'POST',
					header: {
						'Content-Type' : 'application/json'
					},
					data : dataToSend,
					beforeSend: function() {
						console.log('Loading...')
					},
					success: function(msg) {
						selector.attr('disabled', false);
						refreshData();
						if (msg.status == 200) {
							$.smallBox({
								title: 'Success',
								content : "<i class='fa fa-clock-o'></i> <i>"+msg.message+"</i>",
								color : "#659265",
								iconSmall : "fa fa-check fa-1x fadeInRight animated",
								timeout : 1000
							});
							closeForm('#formEditable');
						} else {
							$.smallBox({
								title : "Peringatan",
								content : `<i class='fa fa-clock-o'></i>${msg.message}<i></i>`,
								color : "#C46A69",
								iconSmall : "fa fa-times fa-1x fadeInRight animated",
								timeout : 1000
							});
						}
					},
					error : function (xhr, ajaxOptions, thrownError) {
						selector.attr('disabled', false);
						refreshData();
						$.smallBox({
							title : "Peringatan",
							content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
							color : "#C46A69",
							iconSmall : "fa fa-times  fa-1x fadeInRight animated",
							timeout : 1000
						});
					},
				});
			}
		});
	});