style.
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		vertical-align : middle !important;
		border-bottom-width : 1px;
	}
	
	.bmd-modalButton {
		display: block;
		margin: 15px auto;
		padding: 5px 15px;
	}

	.close-button {
		overflow: hidden;
	}

	.bmd-modalContent {
		box-shadow: none;
		background-color: transparent;
		border: 0;
	}

	.bmd-modalContent .close {
		font-size: 30px;
		line-height: 30px;
		padding: 7px 4px 7px 13px;
		text-shadow: none;
		opacity: .7;
		color:#fff;
	}

	.bmd-modalContent .close span {
		display: block;
	}

	.bmd-modalContent .close:hover,
	.bmd-modalContent .close:focus {
		opacity: 1;
		outline: none;
	}

	.bmd-modalContent iframe {
		display: block;
		margin: 0 auto;
	}
article.col-xs-12.col-sm-12.col-md-12.col-lg-12#cardListOrder
	div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
		header(role = 'heading')
			div.jarviswidget-ctrls
				a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formEditable');")#btnCloseForm
					i.fa.fa-times
			span.widget-icon
				i.fa.fa-shopping-cart
			h2 Transaksi Order Jasa & Barang

		div
			div.jarviswidget-editbox
			div(class='widget-body no-padding')
				div.row
				br
				div.form-horizontal#cart
					div.row
						div.col-lg-6
							div.form-group
								label.control-label.col-lg-3 Nomer Order
								div.col-lg-6
									input.form-control#noOrder(type = 'number' value = no_order)
							div.form-group
								label.control-label.col-lg-3 Pelanggan
								div.col-lg-6
									select.form-control#trxCustomer
										option(value = '') Pilih Pelanggan
										each c in customers
											option(value = c._id)=c.nama
						div.col-lg-6
							div.form-group
								label.col-lg-3.control-label Tanggal Order
								div.col-lg-6
									input#trxTanggal.form-control.datepicker(type = "text", value = tanggal data-dateformat = "yy-mm-dd")

				div.row
					div.col-md-12
						button(class='btn btn-primary' style = 'margin:10px;' onClick = "return pencarianModal('700px');") TAMBAH BARANG
				div.row
					div.col-lg-12
						table.table.table-bordered#cartTable
							thead
								tr
									th(width = "20%") Nama 
									th(width = '8%') Stok
									th(width = '8%') Lebar
									th(width = '8%') Panjang
									th(width = '20%') Harga Jual
									th Jumlah
									th(style = "width : 150px;") Total
									th(width = '8%') SNI
									th(width = '8%') NON SNI
									th
							tbody#tbodyProduct
								tr(data-jenis = '0' data-beli = '0' data-barang = 'jasa' data-number = '0')
									td
										small
											b JASA
									td(align = 'center') -
									td
										input(type="text" class="form-control" id="lebarPlat" value="0" data-number="0")
									td
										input(type="text" class="form-control" id="panjangPlat" value="0" data-number="0")
									td
										input(type="number" min="0" class="form-control" data-harga="0" id="hargaJual" value="0" data-number="0" onchange="hargaChange(this, 0);")
									td
										input(style="width:100px;" type="text" class="form-control" data-number="0" id="stockInput-0" value="1" onchange="hargaChange1(this);" onblur="hargaChange1(this);")
									td(id="subTotal" data-harga-asli="0" data-number="0") 0
									td(align = 'center')
										input(type = 'checkbox' name = 'SNI')
									td(align = 'center')
										input(type = 'checkbox' name = 'NON SNI')
									td(align = 'center')
										center
											button(class="btn btn-xs btn-danger" title="Delete Item" onclick="deleteItem(this)")
												i(class="fa fa-times")
							tfoot
								tr
									td(colspan=6 align="right")
										span(style="text-align:right; font-weight : bold;") Grand Total
									td(colspan=6)
										strong(data-harga='0')#totalPrice 0
								tr
									td(colspan=6 align="right")
										span(style="text-align:right; font-weight : bold;") Keterangan
									td(colspan=6)
										textarea.form-control#trxKet(cols = "5", rows = "3")
						div.col-md-12
							button(class='btn btn-danger pull-right' style = 'margin-right : 10px' onClick = "return closeForm('#formEditable');") TUTUP
							button#cetakStruk(class='btn btn-primary pull-left' style = 'margin-right : 10px' disabled = "disabled") Cetak Struk
							button#checkOut(class='btn btn-success pull-right' style = "margin-right : 10px;" onClick="paidNow(this)") ORDER
							button(class='btn btn-default pull-right' style = "margin-right : 10px;" onClick="openUpload(this)") SHOW FORM UPLOAD
							br
							br
							br
article.col-md-4(style="display: none;")#formUploadtable
	div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
		header
			div.jarviswidget-ctrls
				a(class = 'button-icon jarviswidget-toggle-btn' href = 'javascript:void(0);' rel = 'tooltip' data-placement = 'bottom' data-original-title = 'Tutup' onclick="return closeForm('#formUploadtable');")#btnCloseForm
					i.fa.fa-times
			span(class="widget-icon")
				i(class="fa fa-cloud")
			h2 Upload Manager
		div(class="widget-body")
			div#prosesUpload
			div.col-lg-12(style = 'height : 280px;margin-left : 10px; display:none;')#coverOrderJasaBarang
				img(src = '/uploads/product/1641960108778-756261340.png' width = '100%' height = '100%')
			div#wrapUploadJasaBarang
				button(class='btn btn-lg btn-default col-lg-12' style='height:280px')#tombole
					h2#loading
						i(class='glyphicon glyphicon-cloud-upload' style='font-size:5em')#icone
					h1#file_label
						span(class='label label-info') UPLOAD YOUR IMAGE
			form(action='/transaksi/penjualan/prosesTrx' method='POST' enctype="multipart/form-data")#formImgPlat
				input(type='file' name='fileImg' style='display:none')#fileImg
				input(type='button' value='TUTUP' class='btn btn-danger pull-right' style='margin-top:10px; margin-left : 10px;' onclick="return closeForm('#formUploadtable');")
				button.btn.btn-default.pull-right#btnClearOrder(style='margin-top:10px; display:none;' type = "button" onClick = "return clearImg();") CLEAR

//- Layout Cetak
div.modal.fade#tempalteStrukJP
	div.modal-dialog
		div.modal-content.bmd-modalContent
			div.modal-body
				div.kotak(style="width:100%;height:520px;position: absolute;")
					div.close-button
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					iframe#viewStruk(style='border:0;', width = '100%' height = '550px;' frameborder='0')


script(type ='text/javascript' src = '/js/order.js')
script.
	pageSetUp();
	var no = 1;
	var items = [];

	function clearImg() {
		$("#btnClearOrder").hide();
		$('#coverOrderJasaBarang').hide();
		$('#coverOrderJasaBarang img').attr('src', '');
		$('#wrapUploadJasaBarang').show();
		$('#wrapUploadJasaBarang input#file').val("");
	}

	function closeForm(selector) {
		$(selector).slideUp(200, function() {
			$('#reset').click();
			$("#cardListOrder").removeClass("col-md-8 col-lg-8").addClass("col-md-12 col-lg-12");
		});
	}

	function openUpload (selector) {
		$("#formResetable").fadeOut();
		$("#cardListOrder").removeClass("col-md-12 col-lg-12").addClass("col-md-8 col-lg-8");
		$("#formUploadtable").fadeIn(200);
	}

	$(function (){

		$("#trxTanggal").datepicker({
			dateFormat: "yy-mm-dd"
		});

		$("#tombole").click(function() {
			$("input#fileImg").trigger("click");
		});

		$("input#fileImg").change(function() {
			console.log('[CHANGE FILE UPLOAD]');
			var file = $("input[type=file]#fileImg").get(0).files[0];
			if(file){
				var reader = new FileReader();

				reader.onload = function(){
					$("#coverOrderJasaBarang img").attr("src", reader.result);
				}

				reader.readAsDataURL(file);

				$('#coverOrderJasaBarang').show();
				$('#btnClearOrder').show();
				$('#wrapUploadJasaBarang').hide();
			}
		});
	});