style.
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		vertical-align : middle !important;
		border-bottom-width : 1px;
	}
	
	.bmd-modalButton {
		display: block;
		margin: 15px auto;
		padding: 5px 15px;
	}

	.close-button {
		overflow: hidden;
	}

	.bmd-modalContent {
		box-shadow: none;
		background-color: transparent;
		border: 0;
	}

	.bmd-modalContent .close {
		font-size: 30px;
		line-height: 30px;
		padding: 7px 4px 7px 13px;
		text-shadow: none;
		opacity: .7;
		color:#fff;
	}

	.bmd-modalContent .close span {
		display: block;
	}

	.bmd-modalContent .close:hover,
	.bmd-modalContent .close:focus {
		opacity: 1;
		outline: none;
	}

	.bmd-modalContent iframe {
		display: block;
		margin: 0 auto;
	}

form.form-horizontal#formOrderJasa(action="/transaksi/jasa/prosesTrx" method='POST' enctype="multipart/form-data")
	article.col-xs-12.col-sm-12.col-md-7.col-lg-7
		div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false", data-widget-refresh='10', data-widget-deletebutton='false')
			header
				span.widget-icon
					i.fa.fa-table
				h2 TRANSAKSI JASA

			div
				div.jarviswidget-editbox
				div(class='widget-body no-padding')
					br
					div.row
						div.col-lg-6
							div.form-group
								label.control-label.col-lg-4 No. Order
								div.col-lg-6
									input.form-control#noOrder(type = 'number' value = no_order)
							div.form-group
								label.control-label.col-lg-4 Pelanggan
								div.col-lg-6
									select.form-control#trxCustomer(name = 'customer')
										option(value = '') Pilih Pelanggan
										each c in customers
											option(value = c._id)=c.nama
						div.col-lg-6
							div.form-group
								label.col-lg-3.control-label Tgl Order
								div.col-lg-6
									input#tanggalOrder.form-control.datepicker(type = "text" name = 'tanggal' value = tanggal data-dateformat = "yy-mm-dd")
					hr(style = "border : 0.3px dashed #ddd;")
					div.row
						div.col-lg-12
							div.form-group
								label.control-label.col-lg-3 Spesifikasi Pemesanan
								div.col-lg-6
									input.form-control#spekPesanan(name = 'spekPesanan')
					div.row
						div.col-lg-6
							div.form-group
								label.control-label.col-lg-6 Jumlah Plat
								div.col-lg-6
									input.form-control#jmlPlat(name = 'jmlPlat')
					div.row
						div.col-lg-6
							div.form-group
								label.control-label.col-lg-6 Tebal Plat
								div.col-lg-6
									input.form-control#tebalPlat(name = 'tebalPlat')
					div.row
						div.col-lg-12
							div.form-group
								label.control-label.col-lg-3 Ukurang Plat
								div.col-lg-3
									input.form-control#lebarPlat(placeholder = 'Lebar Plat' name = 'lebarPlat')
								div.col-lg-3
									input.form-control#panjangPlat(placeholder = 'Panjang Plat' name = 'panjangPlat')
					hr(style = "border : 0.3px dashed #ddd;")
					div.row
						div.col-lg-6
							div.form-group
								label(class = 'col-md-4 control-label') Jenis Plat
								div.col-md-8
									div.checkbox
										label
											input(type = 'checkbox' name = 'sniPlat')#sniPlat
											| SNI
									div.checkbox
										label
											input(type = 'checkbox' name = 'nonSniPlat')#nonSniPlat
											| NON SNI
					div.row
						div.col-lg-12
							div.form-group
								label(class = 'col-md-3 control-label') Keterangan
								div.col-lg-9
									textarea.form-control#ketJasa(cols = "5", rows = "3" name = 'keterangan')
					div.row
						div.col-lg-6
							div.form-group
								label.control-label.col-lg-6 Biaya Jasa
								div.col-lg-6
									input.form-control#biayaJasa(name = 'biayaJasa')

					br
					div.row
						div.col-lg-12
							button(class='btn btn-danger pull-right' style = 'margin-right : 10px' onClick = "return closeForm('#formEditable');" type = "button") TUTUP
							button#cetakStruk(class='btn btn-primary pull-right' style = 'margin-right : 10px' disabled = "disabled" type = 'button') CETAK STRUK
							button#btnSubmit(class='btn btn-success pull-right' style = "margin-right : 10px;" type = "button") SUBMIT
							br
							br
							br

	article.col-xs-12.col-sm-12.col-md-5.col-lg-5
		div.jarviswidget.jarviswidget-color-orange(data-widget-editbutton="false" , data-widget-deletebutton='false')
			header
				span.widget-icon
					i.fa.fa-upload
				h2 UPLOAD DESIGN PLAT
			div(class="widget-body")
				div#prosesUpload
				div.col-lg-12(style = 'height : 280px;margin-left : 10px; display:none;')#coverOrderJasa
					img(src = '/uploads/product/1641960108778-756261340.png' width = '100%' height = '100%')
				div#wrapUploadJasa
					button(class='btn btn-lg btn-default col-lg-12' style='height:280px' type = 'button')#tombole
						h2#loading
							i(class='glyphicon glyphicon-cloud-upload' style='font-size:5em')#icone
						h1#file_label
							span(class='label label-info') UPLOAD YOUR IMAGE
					input(type='file' name='imagePlat' style='display:none')#file
				button.btn.btn-danger.pull-right#btnClear(style='margin-top:10px; display:none;' type = "button" onClick = "return clearImg();") CLEAR

//- Layout Cetak
div.modal.fade#tempalteStrukJP
	div.modal-dialog
		div.modal-content.bmd-modalContent
			div.modal-body
				div.kotak(style="width:100%;height:520px;position: absolute;")
					div.close-button
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					iframe#viewStruk(style='border:0;', width = '100%' height = '550px;' frameborder='0')

script.
	pageSetUp();

	function openStruk (filename) {
		$('#tempalteStrukJP').modal('show');
		$("#tempalteStrukJP iframe#viewStruk").attr('src','/uploads/files/'+filename);
	}

	function clearImg() {
		$("#btnClear").hide();
		$('#coverOrderJasa').hide();
		$('#coverOrderJasa img').attr('src', '');
		$('#wrapUploadJasa').show();
		$('#wrapUploadJasa input#file').val("");
	}

	function clearTrx () {
		$('#noOrder').val("");
		$('#trxCustomer').val("");
		$('#spekPesanan').val("");
		$('#jmlPlat').val("");
		$('#tebalPlat').val("");
		$('#lebarPlat').val("");
		$('#panjangPlat').val("");
		$('#ketJasa').val("");
		$('#biayaJasa').val("");

		$('input#file').val("");
		clearImg();

		$("#sniPlat").prop( "checked", false);
		$("#nonSniPlat").prop( "checked", false);
		$("#customerPlat").prop( "checked", false);
		$("#gudangPlat").prop( "checked", false);

		getNumber();
	}

	function getNumber () {
		$.ajax({
			url : '/transaksi/get-number',
			type : 'GET',
			success : function (msg) {
				$('#noOrder').val(msg);
			},
			error : function (jqXHR, textStatus, errorThrown) {
				$.smallBox({
					title : "Peringatan",
					content : "<i> Internal Server Error</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 3000
				});
			}
		})
	}

	$(function (){

		$(".datepicker").datepicker({
			dateFormat: "yy-mm-dd"
		});

		$("#tombole").click(function() {
			$("input#file").trigger("click");
		});

		$("input#file").change(function() {
			console.log('[CHANGE FILE UPLOAD]');
			var file = $("input[type=file]#file").get(0).files[0];
			if(file){
				var reader = new FileReader();

				reader.onload = function(){
					$("#coverOrderJasa img").attr("src", reader.result);
				}

				reader.readAsDataURL(file);

				$('#coverOrderJasa').show();
				$('#btnClear').show();
				$('#wrapUploadJasa').hide();
			}
		});

		$("#btnSubmit").click(function (e){
			e.preventDefault();
			console.log('[SUBMIT FORM TRX]');
			$('#prosesUpload').html("");
			var customer = $('#trxCustomer').val();
			var no_order = $('#noOrder').val();
			var tgl_order = $('#tanggalOrder').val();
			var spekPesanan = $('#spekPesanan').val();
			var qty = $('#jmlPlat').val();
			var tebal = $('#tebalPlat').val();
			var lebar = $('#lebarPlat').val();
			var panjang = $('#panjangPlat').val();
			var sniPlat = $('#sniPlat').is(':checked');
			var nonSniPlat = $('#nonSniPlat').is(':checked');
			var keterangan = $('#ketJasa').val();
			var biayaJasa = $('#biayaJasa').val();
			var files = $('input#file')[0].files;
			console.log('FILE PATH : '+ files[0]);

			if (no_order == "" || customer == "" || tgl_order == "" || spekPesanan == "" || qty == "" || tebal == "" || lebar == "" || panjang == "" || keterangan == "" || biayaJasa == "") {
				$.smallBox({
					title : "Peringatan",
					content : "<i class='fa fa-clock-o'></i> <i> Data Transaksi Belum Lengkap</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times  fa-1x fadeInRight animated",
					timeout : 3000
				});
			} else {
				$.SmartMessageBox({
					title : "Peringatan",
					content : "apakah yakin dengan transaksi anda sekarang ?",
					buttons : '[No][Yes]'
				}, function (ButtonPressed) {
					if (ButtonPressed === "Yes") {
						console.log('[PROSES ORDER JASA]');
						var formData = new FormData();
						formData.append('no_order', no_order);
						formData.append('customer', customer);
						formData.append('tgl_order', tgl_order);
						formData.append('spekPesanan', spekPesanan);
						formData.append('jmlPlat', qty);
						formData.append('tebalPlat', tebal);
						formData.append('lebarPlat', lebar);
						formData.append('panjangPlat', panjang);
						formData.append('sni', sniPlat);
						formData.append('non_sni', nonSniPlat);
						formData.append('keterangan', keterangan);
						formData.append('biayaJasa', biayaJasa);
						formData.append('imagePlat', files[0]); 
						$.ajax({
							url : '/transaksi/jasa/prosesTrx',
							type : 'POST',
							data: formData,
							contentType: false,
							processData: false,
							beforeSend: function(jqXHR, settings) {
								$("#btnSubmit").attr("disabled","disabled");
								$("#btnSubmit").val("Loading ...");
								$("#loading").html("<h1 class=\"ajax-loading-animation\"><i class=\"fa fa-cog fa-spin\"></i> Loading...</h1>");
								$("#file_label").html("");
								console.log("Uploading ....");
							},
							success : function(msg) {
								if (msg.status == 200) {
									$.smallBox({
										title : "Sukses",
										content : "<i> Transaksi Berhasil</i>",
										color : "#659265",
										iconSmall : "fa fa-check fa-1x fadeInRight animated",
										timeout : 3000
									});
									$("button#cetakStruk").attr('disabled', false);
									$('button#cetakStruk').attr('onClick', `openStruk('${msg.filename}')`);
									openStruk(msg.filename);
									clearTrx();
								} else {
									$.smallBox({
										title : "Peringatan",
										content : "<i class='fa fa-clock-o'></i> <i> "+msg.message+"</i>",
										color : "#C46A69",
										iconSmall : "fa fa-times fa-1x fadeInRight animated",
										timeout : 3000
									});
								}

								$("#btnSubmit").val("SUBMIT");
								$("#btnSubmit").removeAttr("disabled");
								$("#tombole").find("h1").html("<span class=\"label label-info\">UPLOAD YOUR IMAGE</span>");
								$("#loading").html("<i class='glyphicon glyphicon-cloud-upload' style='font-size:5em' id='icone'></i>");
							},
							error : function (jqXHR, textStatus, errorThrown) {
								$("#btnSubmit").val("SUBMIT");
								$("#btnSubmit").removeAttr("disabled");
								//- $("#tombole").find("h1").html("<span class=\"label label-info\">UPLOAD YOUR IMAGE</span>");
								if ($("input#file").val() == '') {
									$("#tombole").find("h1").html("<span class=\"label label-info\">UPLOAD YOUR IMAGE</span>");
								} else {
									$("#tombole").find("h1").html("<span class=\"label label-warning\">" + $("#file").val().replace(/C:\\fakepath\\/i, '') + "</span>");
								}
								$("#loading").html("<i class='glyphicon glyphicon-cloud-upload' style='font-size:5em' id='icone'></i>");
								$.smallBox({
									title : "Peringatan",
									content : `<i class='fa fa-clock-o'></i>Internal Server Error<i></i>`,
									color : "#C46A69",
									iconSmall : "fa fa-times  fa-1x fadeInRight animated",
									timeout : 3000
								});	
							}
						});
					}
				})
			}
		});

	});